body {
  background-color: #EAE8FE;
}

ul, li {
  list-style-type: none;
}
li span {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
li strong {
  width: 70px;
  height: 22px;
  border-radius: 50px;
  background-color: #6327FE;
  color: #FFF;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 190%;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 130px;
  background-color: #EAE8FE;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
}
h1 img {
  /* background-color: aqua; */
  display: block;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  background-color: aqua;
  width: 700px;
  height: 700px;
  gap: 10px 20px;
  grid-template-areas: 
  "section1 section2"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  "section1 section3"
  ;
}

.section1 {
  grid-area: section1;
  display: grid;
  background-color: yellowgreen;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5fr 1fr;
  grid-template-areas: 
  "a"
  "b"
  ;
}
.cola-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 12px;
justify-content:center;
  grid-area: a;
  background-color: red;
  grid-template-areas: 
  "Original Vio Yel"
  "Cool Gree Oran";
}
.money-cal {
  display: grid;
  grid-area: b;
}

.Original{
  grid-area: Original;
}
/* .Violet .sold-out-img {
  position: absolute;
} */
.Violet{
  grid-area: Vio;
  /* background: rgba(0, 0, 0, 0.80); */
}
.Yellow{
  grid-area: Yel;
}
.Cool{
  grid-area: Cool;
}
.Green{
  grid-area: Gree;
}
.Orange{
  grid: Oran;
}



.section2 {
  grid-area: section2;
  background-color: rebeccapurple;
}

.section3 {
  grid-area: section3;
  background-color: brown;
}