body {
  background-color: black
}


.wrap {
  width: 1920px;
  height: 1080px;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  margin: 180px auto;
}

.img-animal {
  display: block;
  margin-top: 57px;
}