img {
  padding-top: 130px;
}

article {
  padding-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
