@font-face {
    font-family: "minjae-regular";
    src: url("./font/Pretendard-Regular.woff") 
    format("woff");
    font-weight: 400;
    font-style: normal;
}

body{
	font-family: Pretendard-Regular, "Times New Roman", Dotum, "돋움", sans-serif;
}

.pc-font{
    font-family: "minjae-regular";
}

/* color 색상 */
h1{
    color: royalblue;
    font-family: 'Caprasimo', cursive;
}
h1,h2{
    font-weight: normal;
}

/* currentColor 부모의 color값을 상속받는다. */
strong{
    border-bottom: 3px solid currentColor;
}

h2 {
    color: #999;
    font-family: 'Pretendard-Regular', Verdana, sans-serif;
}