body{
    background-color: aqua;
}

div,
p {
    margin: 0;;
}

.big-box {
    width: 350px;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    background: #FFF;
}

.big-box p {
    margin-top: 19px;
    margin-left: 16px;
    margin-bottom: 16px;
    color: #000;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-box {
    background-color: red;
    width: 318px;
    height: 40px;
    border-radius: 4px;
    background: #711BFF;
    color: #FFF;
    text-align: center;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}
.login-box img {
    width: 64px;
    height: 18px;
    margin-top: 10px;
    margo
}

